/* This file sets global "theme" rules for the entire page. Specific components have their own style files for clarity. */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root {
	--theme-bg: #000;
	--theme-fg: #fff;

	--theme-button-standard-idle: #2b2b2b;
	--theme-button-standard-hover: #4b4b4b;
	--theme-button-accent-idle: #a50f5c;
	--theme-button-accent-hover: #d60084;
	--theme-button-translucent-idle: #ffffff10;
	--theme-button-translucent-hover: #ffffff80;

	--theme-nav-bg: #fff;

	--theme-link-idle: #a20fa5;
	--theme-link-hover: #e756d1;

	--theme-ephemeral-a: #6500cc;
	--theme-ephemeral-b: #00c8cf;
}

/* Changes the theme for areas with the inverted colour palette (nav and footer) */
nav, footer {
	--theme-bg: #fff;
	--theme-fg: #000;

	--theme-button-standard-idle: #fff;
	--theme-button-standard-hover: #efefef;
}

* {
	font-family: 'Lexend Deca', sans-serif;
	color: var(--theme-fg);
}

.monospace {
	font-family: 'Fira Code', monospace;
}

.unselectable {
	-webkit-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
}

body {
	background-color: var(--theme-bg);
	margin: 0;
}

section.main {
	padding: 10px;
	box-sizing: border-box;
	min-height: calc(100vh - 4em); /* Full screen height - navbar height */
}

/* Material Symbol settings */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Header sizes */
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.67em;
}