.regular-icon-button, .primary-icon-button, .translucent-icon-button {
	display: inline-flex;
	flex-direction: column;

	justify-content: center;
	align-content: center;
	text-align: center;
	
	text-decoration: none;

	width: 40px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 5px;

	user-select: none;
	-webkit-user-select: none;

	cursor: pointer;

	transition: background-color 200ms;
}

.regular-icon-button > *, .primary-icon-button > *, .translucent-icon-button > * {
	box-sizing: border-box;
	padding: 8px;
}

.regular-icon-button {
	background-color: var(--theme-button-standard-idle);
}

.regular-icon-button:hover {
	background-color: var(--theme-button-standard-hover);
}

.regular-icon-button:active {
	background-color: var(--theme-button-standard-idle);
}

.primary-icon-button {
	background-color: var(--theme-button-accent-idle);
	font-weight: bold;
}

.primary-icon-button:hover {
	background-color: var(--theme-button-accent-hover);
}

.primary-icon-button:active {
	background-color: var(--theme-button-accent-idle);
}

.translucent-icon-button {
	background-color: var(--theme-button-translucent-idle);
}

.translucent-icon-button:hover {
	background-color: var(--theme-button-translucent-hover);
}

.translucent-icon-button:active {
	background-color: var(--theme-button-translucent-idle);
}