.regular-button, .primary-button, .translucent-button {
	display: inline-flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	
	text-decoration: none;

	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;

	padding-left: 10px;
	padding-right: 10px;

	user-select: none;
	-webkit-user-select: none;

	cursor: pointer;

	transition: background-color 200ms;
}

.regular-button {
	background-color: var(--theme-button-standard-idle);
}

.regular-button:hover {
	background-color: var(--theme-button-standard-hover);
}

.regular-button:active {
	background-color: var(--theme-button-standard-idle);
}

.primary-button {
	background-color: var(--theme-button-accent-idle);
	font-weight: bold;
}

.primary-button:hover {
	background-color: var(--theme-button-accent-hover);
}

.primary-button:active {
	background-color: var(--theme-button-accent-idle);
}

.translucent-button {
	background-color: var(--theme-button-translucent-idle);
}

.translucent-button:hover {
	background-color: var(--theme-button-translucent-hover);
}

.translucent-button:active {
	background-color: var(--theme-button-translucent-idle);
}